@page
@model azure_app_phani.Pages.DeploymentSlotsModel
@{
    ViewData["Title"] = "Deployment Slots Page";
}

<div class="text-center">
    <h1 class="display-4">TEsting deployment slots</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<h3>
     @ViewData["Greetings"]  - validating the deployment slots
</h3>